.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-card {
  width: 20rem;
  height: 550px;
  overflow: hidden; /* Prevents image overflow */
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
